<style type='text/css'>
    .embeddedServiceHelpButton .helpButton .uiButton {
        background-color: #1f5aa5;
        font-family: "Arial", sans-serif;
        border-radius: 0;
    }

    .embeddedServiceSidebarMinimizedDefaultUI.helpButton {
        background-color: #1f5aa5;
        border-color: #1f5aa5;
        right: 30px !important;
        bottom: 30px;
        border-radius: 0;
    }

    .embeddedServiceSidebarMinimizedDefaultUI {
        background-color: #1f5aa5;
        border-color: #1f5aa5;
        right: 30px !important;
        bottom: 30px;
        border-radius: 0;
    }

    .embeddedServiceSidebarMinimizedDefaultUI.minimizedContainer:hover {
        background-color: #1f5aa5;
    }

    .embeddedServiceSidebarMinimizedDefaultUI.helpButton:focus {
        background-color: #1f5aa5;
        border-color: #1f5aa5;
    }

    .embeddedServiceHelpButton .helpButton .uiButton:focus {
        outline: 1px solid #00acee;
    }

    .embeddedServiceHelpButton .helpButton {
        right: 30px !important;
        bottom: 30px;
    }

    .embeddedServiceSidebarHeader {
        background-color: #1f5aa5;
        border-radius: 0;
    }

    .embeddedServiceSidebarHeader .headerText {
        height: 100%;
    }

    .embeddedServiceSidebarState h2 {
        font-size: 1.5em;
    }

    .embeddedServiceSidebar.layout-docked .dockableContainer {
        border-radius: 0;
        right: 30px !important;
        bottom: 30px;
    }

    .embeddedServiceSidebarExtendedHeader {
        background-color: #1f5aa5;
    }

    .embeddedServiceSidebar .sidebarBody {
        overflow-y: scroll;
    }

    .embeddedServiceSidebarButton {
        border-radius: 0;
        background: #00acee;
    }
    
    .embeddedServiceSidebarState .startButton, .embeddedServiceSidebarButton:not(:disabled):focus, .embeddedServiceSidebarButton:not(:disabled):hover {
        background: #00acee;
        border-radius: 0;
    }

    .embeddedServiceSidebarState .startButton:hover {
        background: -webkit-linear-gradient(top,#fff,#fff) !important;
        border-color: #00acee !important;
        color: #1f5aa5 !important;
    }

    .embeddedServiceSidebarButton.uiButton--inverse {
        border: 1px solid #00acee;
    }

    .embeddedServiceLiveAgentStateWaiting .loadingBall {
        background-color: #1f5aa5;;
    }

    .embeddedServiceSidebarState .prechatUI input{
        border-radius: 0;
        height: 32px;
    }

</style>

<script type='text/javascript' src='https://service.force.com/embeddedservice/5.0/esw.min.js'></script>
<script type='text/javascript'>
    var initESW = function (gslbBaseURL) {
        embedded_svc.settings.displayHelpButton = true;
        embedded_svc.settings.language = '';

        //OFFLINE SUPPORT
        var linkText = "No agents available at this time, please fill the offline form at!";
        var leaveMessage = linkText.link("https://www.racv.com.au/utility/contact-us/contact-racv.html");
        embedded_svc.settings.defaultMinimizedText = 'Chat With Us!'; //(Defaults to Chat with an Expert)
        embedded_svc.settings.disabledMinimizedText = leaveMessage; //(Defaults to Agent Offline)

        //embedded_svc.settings.loadingText = ''; //(Defaults to Loading)
        //embedded_svc.settings.storageDomain = 'yourdomain.com'; //(Sets the domain for your deployment so that visitors can navigate subdomains during a chat session)

        // Settings for Chat
        //embedded_svc.settings.directToButtonRouting = function(prechatFormData) {
        // Dynamically changes the button ID based on what the visitor enters in the pre-chat form.
        // Returns a valid button ID.
        //};
        //embedded_svc.settings.prepopulatedPrechatFields = {}; //Sets the auto-population of pre-chat form fields
        //embedded_svc.settings.fallbackRouting = []; //An array of button IDs, user IDs, or userId_buttonId
        //embedded_svc.settings.offlineSupportMinimizedText = '...'; //(Defaults to Contact Us)

        embedded_svc.settings.enabledFeatures = ['LiveAgent'];
        embedded_svc.settings.entryFeature = 'LiveAgent';

        embedded_svc.settings.extraPrechatFormDetails = [{
                "label": "Visitor First Name",
                "transcriptFields": ["MEX_VisitorFirstName__c"],
                "displayToAgent": true
            },
            {
                "label": "Visitor Last Name",
                "transcriptFields": ["MEX_VisitorLastName__c"],
                "displayToAgent": true
            },
            {
                "label": "Visitor Email",
                "transcriptFields": ["MEX_VisitorEmail__c"],
                "displayToAgent": true
            },
            {
                "label": "Visitor Member Number",
                "transcriptFields": ["MEX_VisitorMemberNumber__c"],
                "displayToAgent": true
            },
            {
                "label": "Visitor Page URL",
                "transcriptFields": ["MEX_VisitorPage__c"],
                "displayToAgent": true
            },
            {
                "label": "Customer/Partner",
                "transcriptFields": ["MEX_CustomerPartner__c"],
                "displayToAgent": true
            }
        ];

        //DONT CREATE A CONTACT & DONT ATTACH TO ACCOUNT
        embedded_svc.settings.extraPrechatInfo = [{
            "entityFieldMaps": [{
                "doCreate": false,
                "doFind": false,
                "fieldName": "LastName",
                "isExactMatch": true,
                "label": "Last Name"
            }, {
                "doCreate": false,
                "doFind": false,
                "fieldName": "FirstName",
                "isExactMatch": true,
                "label": "First Name"
            }],
            "entityName": "Contact",
            "saveToTranscript": ""
        }];

        embedded_svc.init(
            'https://racv--SIT.cs152.my.salesforce.com',
            'https://sit-racv.cs152.force.com/chat',
            gslbBaseURL,
            '00D5P0000008h11',
            'General_Service_Chat', {
                baseLiveAgentContentURL: 'https://c.la1-c1cs-syd.salesforceliveagent.com/content',
                deploymentId: '5725P00000000Lm',
                buttonId: '5735P0000000092',
                baseLiveAgentURL: 'https://d.la1-c1cs-syd.salesforceliveagent.com/chat',
                eswLiveAgentDevName: 'EmbeddedServiceLiveAgent_Parent04I5P00000000JZUAY_170405c8373',
                isOfflineSupportEnabled: false
            }
        );
    };

    if (!window.embedded_svc) {
        var s = document.createElement('script');
        s.setAttribute('src', 'https://racv--SIT.cs152.my.salesforce.com/embeddedservice/5.0/esw.min.js');
        s.onload = function () {
            initESW(null);
        };
        document.body.appendChild(s);
    } else {
        initESW('https://service.force.com');
    }
    document.addEventListener(
        "setCustomField",
        function (event) {
            embedded_svc.settings.extraPrechatFormDetails[0].value = event.detail.customField1;
            embedded_svc.settings.extraPrechatFormDetails[1].value = event.detail.customField2;
            embedded_svc.settings.extraPrechatFormDetails[2].value = event.detail.customField3;
            embedded_svc.settings.extraPrechatFormDetails[3].value = event.detail.customField4;
            embedded_svc.settings.extraPrechatFormDetails[4].value = event.detail.customField5;
            embedded_svc.settings.extraPrechatFormDetails[5].value = event.detail.customField6;
            event.detail.callback();
        }
    );
</script>